.cart-container {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 88%;
  padding: 43px;
  margin-left: 8%;
  background-color: #f9fbfe;
}
.cart-headings-container {
  display: flex;
  padding-left: 73px;
  padding-right: 38px;
}
.cart-headings {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 480;
  font-size: 18px;
  line-height: 22px;
  color: #475569;
}
.quantity {
  margin-left: 24%;
}
.price {
  margin-left: 23%;
  margin-right: 22%;
}

@media screen and (max-width: 767px) {
  .cart-headings-container {
    display: none;
  }
  .cart-total-price {
    display: none;
  }
  .cart-summary-container {
    margin-bottom: 50px;
    display: flex;

    justify-content: flex-end;
  }
}