.home-img {
  height: 40vh;
  width: 85%;
  margin: auto;
}

.Home-ul {
  list-style-type: none;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.over {
  overflow: hidden;
}

.carousel-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}