.home-img {
  height: 31vh;
  width: 91%;
  margin: auto;
}

.Home-ul {
  list-style-type: none;
}

.pd {
  padding: 11px;
}

.over {
  overflow: hidden;
}

.home-ul-flex {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}

.footer {
  background-color: #0f172a;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  font-size: 2px;
}